Source: firmware-imx
Section: kernel
Priority: extra
Maintainer: Josua Mayer <josua@solid-run.com>
Build-Depends: debhelper (>= 8.0.0), wget
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/mxOBS/deb-pkg_firmware-imx.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_firmware-imx

Package: firmware-imx
Architecture: all
Depends: firmware-misc-nonfree (>= 20180518-1) | firmware-imx-conflicts
Description: vendor firmware for i.MX6
 Includes vendor provided firmware blobs for i.MX6 SoCs.

Package: firmware-imx-conflicts
Architecture: all
Conflicts: firmware-misc-nonfree (>= 20180518-1)
Description: vendor firmware conflicting with other packages
 Includes those vendor-provided firmware blobs that conflict
 with blobs provided by other packages from the Debian project.
