Source: firmware-imx
Section: unknown
Priority: extra
Maintainer: Josua Mayer <josua@solid-run.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/mxOBS/deb-pkg_firmware-imx.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_firmware-imx

Package: firmware-imx6
Architecture: armhf armel
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
