Source: firmware-imx
Section: kernel
Priority: extra
Maintainer: Josua Mayer <josua@solid-run.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/mxOBS/deb-pkg_firmware-imx.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_firmware-imx

Package: firmware-imx
Architecture: armhf armel
Provides: firmware-imx6
Replaces: firmware-imx6
Conflicts: firmware-imx6, firmware-misc-nonfree (>= 20180518-1)
Description: vendor firmware for i.MX6
 Includes vendor provided firmware blobs for i.MX6 SoCs.
