#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# hack: will only work on OBS-created chroots
SOURCESDIR=/usr/src/packages/SOURCES/ ~

NAME=firmware-imx-8.8
MD5=eabb27d28bba375a9f14d6306c07af5f

DESTDIR=$(CURDIR)/debian/firmware-imx

%:
	dh $@

build:
	# fetch binaries
	find $(SOURCESDIR) -maxdepth 1 -iname "$(NAME).bin" -exec cp -v {} ./ \; -quit || true
	./fetch.sh $(NAME).bin $(MD5)
	chmod +x $(NAME).bin
	./$(NAME).bin --auto-accept --force

clean:
	rm -rf $(NAME) $(NAME).bin
	dh $@

override_dh_auto_install:
	mkdir -p $(DESTDIR)/lib/firmware/imx/ddr/synopsys
	install -v -m644 $(NAME)/firmware/ddr/synopsys/*.bin $(DESTDIR)/lib/firmware/imx/ddr/synopsys/

	# linux searches at /lib/firmware/imx/epdc
	mkdir -p $(DESTDIR)/lib/firmware/imx/epdc
	install -v -m644 $(NAME)/firmware/epdc/*.fw $(DESTDIR)/lib/firmware/imx/epdc/
	install -v -m644 $(NAME)/firmware/epdc/epdc_ED060XH2C1.fw.nonrestricted $(DESTDIR)/lib/firmware/imx/epdc/epdc_ED060XH2C1.fw

	mkdir -p $(DESTDIR)/lib/firmware/imx/hdmi/cadence
	install -v -m644 $(NAME)/firmware/hdmi/cadence/*.bin $(DESTDIR)/lib/firmware/imx/hdmi/cadence/

	# linux searches at /lib/firmware/imx/sdma
	mkdir -p $(DESTDIR)/lib/firmware/imx/sdma
	install -v -m644 $(NAME)/firmware/sdma/*.bin $(DESTDIR)/lib/firmware/imx/sdma/

	# libvpu searches at /lib/firmware/vpu
	# linux searches at /lib/firmware/vpu
	mkdir -p $(DESTDIR)/lib/firmware/vpu
	install -v -m644 $(NAME)/firmware/vpu/*.bin $(DESTDIR)/lib/firmware/vpu/
