#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# hack: will only work on OBS-created chroots
SOURCESDIR=/usr/src/packages/SOURCES/ ~

NAME=firmware-imx-8.20
SHA256=f6dc6a5c8fd9b913a15360d3ccd53d188db05a08a8594c518e57622478c72383

DESTDIR=$(CURDIR)/debian/firmware-imx
DESTDIR_CONFLICTS=$(CURDIR)/debian/firmware-imx-conflicts

%:
	dh $@

build:
	# fetch binaries
	find $(SOURCESDIR) -maxdepth 1 -iname "$(NAME).bin" -exec cp -v {} ./ \; -quit || true
	./fetch.sh $(NAME).bin $(SHA256)
	chmod +x $(NAME).bin
	./$(NAME).bin --auto-accept --force

clean:
	rm -rf $(NAME) $(NAME).bin
	dh $@

override_dh_auto_install:
	mkdir -p $(DESTDIR)/lib/firmware/imx/ddr/synopsys
	install -v -m644 $(NAME)/firmware/ddr/synopsys/*.bin $(DESTDIR)/lib/firmware/imx/ddr/synopsys/

	mkdir -p $(DESTDIR)/lib/firmware/easrc
	install -v -m644 $(NAME)/firmware/easrc/*.bin $(DESTDIR)/lib/firmware/easrc/

	# linux searches at /lib/firmware/imx/epdc
	mkdir -p $(DESTDIR)/lib/firmware/imx/epdc
	install -v -m644 $(NAME)/firmware/epdc/*.fw $(DESTDIR)/lib/firmware/imx/epdc/
	install -v -m644 $(NAME)/firmware/epdc/epdc_ED060XH2C1.fw.nonrestricted $(DESTDIR)/lib/firmware/imx/epdc/epdc_ED060XH2C1.fw

	mkdir -p $(DESTDIR)/lib/firmware/imx/hdmi/cadence
	install -v -m644 $(NAME)/firmware/hdmi/cadence/*.bin $(DESTDIR)/lib/firmware/imx/hdmi/cadence/

	# linux searches at /lib/firmware/imx/sdma
	mkdir -p $(DESTDIR)/lib/firmware/imx/sdma
	install -v -m644 $(NAME)/firmware/sdma/*.bin $(DESTDIR)/lib/firmware/imx/sdma/
	mkdir -p $(DESTDIR_CONFLICTS)/lib/firmware/imx/sdma
	mv $(DESTDIR)/lib/firmware/imx/sdma/sdma-imx6q.bin $(DESTDIR_CONFLICTS)/lib/firmware/imx/sdma/
	mv $(DESTDIR)/lib/firmware/imx/sdma/sdma-imx7d.bin $(DESTDIR_CONFLICTS)/lib/firmware/imx/sdma/

	# libvpu searches at /lib/firmware/vpu
	# linux searches at /lib/firmware/vpu
	mkdir -p $(DESTDIR)/lib/firmware/vpu
	install -v -m644 $(NAME)/firmware/vpu/*.bin $(DESTDIR)/lib/firmware/vpu/

	mkdir -p $(DESTDIR)/lib/firmware/xcvr
	install -v -m644 $(NAME)/firmware/xcvr/*.bin $(DESTDIR)/lib/firmware/xcvr/

	mkdir -p $(DESTDIR)/lib/firmware/xuvi
	install -v -m644 $(NAME)/firmware/xuvi/*.bin $(DESTDIR)/lib/firmware/xuvi/
